# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# Pasta de dependências
node_modules/

# Arquivos de configuração de IDE
*.pbxproj
.DS_Store

# Arquivos de build
build/
*.apk
*.ipa

# Arquivos de log
*.log

# Arquivos de configuração
.env
.env.local

# Outros arquivos a serem ignorados
.vscode/
*.swp